:root {
  font-family: monospace, sans-serif;
  --color_primary: red;
}
.products {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: center;
  padding: 20px;
}
.target {
  box-sizing: border-box;
  width: auto;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: .625rem;
  background-color: #fdfdfd;
  border-bottom: solid 1px var(--color_primary);
  border-right: solid 1px var(--color_primary);
  border-left: solid 1px rgba(0, 0, 0, 0);
  border-top: solid 1px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 1px rgba(255, 0, 0, 0.5);
}
.target:hover {
  transition: all 0.5s;
  border-top: solid 1px var(--color_primary);
  border-left: solid 1px var(--color_primary);
}

.target__img {
  box-sizing: border-box;
  height: 12.5rem;
  width: auto;
  object-fit: cover;
  box-shadow: 0px 0px 5px 0px #00000030;
  border-radius: 5px;
  user-select: none;
}
.target__title {
  font-size: 1.2em;
  text-align: center;
  user-select: none;
  text-decoration: underline 2px rgba(0, 0, 0, 0);
}

.target__title--active {
  transition: all 0.2s;
  text-decoration: underline 2px var(--color_primary);
}
.target__price {
  font-size: 1.2em;
  color: rgb(0, 182, 0);
  text-align: right;
  user-select: none;
}

.header{
  box-sizing: border-box;
  display: flex;
  height: 6.25rem;
  border-bottom:solid 1px var(--color_primary);
  text-align: center;
  justify-content: center;
}

.nav{
  display: flex;
}
.nav__ul{
  display: flex;
  gap: 1.25rem;
  align-items: center;
  list-style: none;
  padding: 0;
}
.nav__li{}
.nav__a{
  text-decoration: none;
  color: black;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: underline 2px rgba(0, 0, 0, 0);
}
.nav__a:hover{
  transition: all 0.2s;
  text-decoration: underline 2px var(--color_primary);
}